<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li> <a href="/addStudent" >Add Student</a></li>
        <li> <a href="/all" >all</a></li>
        <li> <a href="/update" >update</a></li>
        <li> <a href="/delete" >delete</a></li>
    </ul>
</body>
</html>