<ul>
  <li><a href="/profile">View your profile page</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/prices">Price of a ride</a></li>
  <li><a href="/pickup">Pickup a passenger</a></li>
  <li><a href="/delete">Delete a user</a></li>
  <li><a href="/reviews">Leave a review</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
