<h1>Demo</h1>
<p>This is the Buziel pokemon!</p>

<div>
  <img
    src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/<%=i%>.png"
    style="width: 100px; border: 1px solid #ccc"
  />
  <p>It has pokemon id #418!</p>
</div>

<p>What is x? <%= x %></p>
<p>What is y? <%= y %></p>
