<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        <li><a href="/profile">View your profile page</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/prices">Price of a ride</a></li>
        <li><a href="/pickup">Pickup a passenger</a></li>
        <li><a href="/delete">Delete a user</a></li>
        <li><a href="/reviews">Leave a review</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    
    <h1>FAQ</h1>
    <ul>
        <li>How do i become a driver?</li>
        <li>How do i become a rider?</li>
        <li>What is the average cost of a ride?</li>
        <li>Is your service available in my city?</li>
    </ul>
</body>
</html>